<h1><%=@appointment.readable_datetime%></h1>
<<<<<<< HEAD


=======
>>>>>>> 5e2c23eafe3a0f689781a5b53c2872c4fd9a1faf


<h3><%=link_to @appointment.doctor.name, doctor_path(@appointment.doctor)%></h3>

<h3><%=link_to @appointment.patient.name, patient_path(@appointment.patient)%></h3>